{% extends "base.html" %}

{% load i18n %}

{% block style %}
<link rel = "stylesheet" href="{{MEDIA_URL}}css/about.css" media="screen" /> 

<script src="http://www.google.com/jsapi"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/about.js"></script>
<script language="javascript">
	FontFace.initialize();	
	$(document).ready(function () {
	});
</script>
{% endblock %}

{% block content %}

<div id="title" style="text-align:center">
	<a href = "/"><img src="{{MEDIA_URL}}image/logo.png" alt="register title"/></a><br/>
	<img src="{{MEDIA_URL}}image/about_title.png" alt="about title"/><br/>

	<div id="title_lang">
		<img src="{{MEDIA_URL}}image/about_english_gray.png" alt="english" />
		<img src="{{MEDIA_URL}}image/about_korean_black.png" alt="korean" />
		<img src="{{MEDIA_URL}}image/about_japanese_gray.png" alt="japanese" />
		<img src="{{MEDIA_URL}}image/about_chinese_gray.png" alt="chinese" />
	</div>
</div>

<div id="content">
	<div class="content_title">{% trans "대학생들 중심의 대학생들을 위한 TriHack 해카톤" %}</div>
	<div class="content_content">
		<p> <b>{% trans "일시" %} : </b>2012. 09. 08. {% trans "토요일 오전 11시 시작" %}</p>
		<p> <b>{% trans "장소" %} : </b>{% trans "서울대학교 39동 B103호" %}</p>
		<p> <b>{% trans "주최" %} : </b>ASES (Stanford), STARTWAVE (SNU), SPARCS (KAIST)</p>
		<p> <b>{% trans "후원" %} : </b>NEXON </p>
	</div>

	<div class="content_title">{% trans "일정 : 09월 08일 토요일" %}</div>
	<div id="content_2" class="content_content">
		<div class="content_nayong"> 
			<div class="content_help">{% trans "내용" %}</div>
			<div class="content_body">{% trans "핵카톤" %} D-Day </div>
		</div>
		<div class="content_jangso"> 
			<div class="content_help">{% trans "장소" %}</div>
			<div class="content_body">{% trans "서울대학교 대강당" %} </div>
		</div>
		<div class="content_bigo">
			<div class="content_help">{% trans "비고" %}</div>
			<div class="content_body">
				<p class="content_time">{% trans "10:00 - 11:00" %}</p>
				<p class="content_job">{% trans "등록 및 준비" %}</p>
				<p class="content_time">{% trans "11:00 - 12:00" %}</p>
				<p class="content_job">{% trans "개발 및 피칭 관련 설명" %}</p>
				<p class="content_time">{% trans "12:30" %}</p>
				<p class="content_job">{% trans "코딩 및 개발 시작" %}</p>
			<p class="content_help">{% trans "(중식, 석식, 조식, 간식 제공)" %}</p>
			</div>
		</div>
	</div>
	<div class="content_title">{% trans "일정 : 09월 09일 일요일" %}</div><br>
	<div class="content_content" id="content_3">
		<div class="content_nayong"> 
			<div class="content_help">{% trans "내용" %}</div>
			<div class="content_body">{% trans "핵카톤" %} D+1 </div>
		</div>
		<div class="content_jangso"> 
			<div class="content_help">{% trans "장소" %}</div>
			<div class="content_body">{% trans "서울대학교 대강당" %} </div>
		</div>
		<div class="content_bigo">
			<div class="content_help">{% trans "비고" %}</div>
			<div class="content_body">
				<p class="content_time">{% trans "12:30" %}</p>
				<p class="content_job">{% trans "코딩 및 개발 종료" %}</p>
				<p class="content_time">{% trans "12:30 - 15:00" %}</p>
 				<p class="content_job">{% trans "점심 및 PT 준비" %}</p>
				<p class="content_time">{% trans "15:00" %}</p>
				<p class="content_job">{% trans "한중일 공동 프로토타입 쇼케이스 (온라인 라이브)" %}</p>
				<p class="content_time">{% trans "17:00" %}</p>
				<p class="content_job">{% trans "피드백 세션 및 수상 (온라인 라이브)" %}</p>
				<p class="content_time">{% trans "18:00" %}</p>
				<p class="content_job">{% trans "기념 저녁식사" %}</p>
			</div>
		</div>

	</div>

	<div class="content_title" id="content_winner_title">{% trans "우승팀에게 주어지는 기회" %}</div>
	<div class="content_help" id="content_winner_help">{% trans "한중일 각 1개 팀 선정" %}</div><br>
	<div class="content_content">
		<p> - {% trans "스탠퍼드 대학교 및 실리콘 밸리행 티켓 (2월 중 일주일 간 방문)" %}</p>
		<p> - {% trans "2013년 2월 스탠퍼드 대학교 내 VC3 이벤트 참가 자격" %}</p>
		<p>&nbsp;&nbsp;{% trans "(VC3 : 3분 내에 벤처케피탈리스트들로 구성된 패널에게 자신의 비지니스 모델 및 프로토타입을 피칭하고 피드백을 받는 이벤트)" %} </p>
		<p> - {% trans "Y Combinator 출신 실리콘 밸리 파운더들로부터 멘토링" %}</p>
		<p> - {% trans "한국, 중국, 일본 우승 팀들 간의 긴밀한 교류" %} </p>
	</div>

</div>

{% endblock %}
