<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
		<link href="{{MEDIA_URL}}css/style.css" rel="stylesheet" />
        <title> TriHack </title>
        {% block style %} {% endblock %}
    </head>

    <body>
		<div id="main">
		<div id="main_wrapper">
			<!-- header -->
			<section id="header"> 
				<ul id="main_nav">
					<li id="menu_register"><img src = "{{MEDIA_URL}}image/register.png" /></li>
					<li id="menu_about"><img src = "{{MEDIA_URL}}image/about.png" /></li>
					<li id="menu_forum"><img src = "{{MEDIA_URL}}image/forum.png" /></li>
				</ul>
			</section>

			<!-- body -->
			<section id="content">
				{% block content %} {% endblock %}
			</section>

			<!-- footer -->
			<section id="footer"> 
				<hr>
				<p id="copyright">Copyright &copy; SPARCS 2012 All Rights Reserved </p>
				<p id="homepage">TRIHACK Homepage</p>
				<p id="organizer">ASES STARTWAVE SPARCS </p>
				<p id="sponsor">NEXON</p>
			</section>
		</div>
		</div>
    </body>
</html>
