<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="google" value="notranslate" />
		<link href="{{MEDIA_URL}}css/style.css" rel="stylesheet" />

		<script type="text/javascript" src="{{MEDIA_URL}}js/jquery-1.6.2.min.js"></script>	
		<script type="text/javascript" src="{{MEDIA_URL}}js/base.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				MainNav.initialize();
			});
		</script>
        <title> TriHack </title>
        {% block style %} {% endblock %}
    </head>

    <body>
		<div id="main">
		<div id="main_wrapper">
			<!-- header -->
			<div id="header"> 
				<ul id="main_nav">
					<li id="menu_register"><a href = "/register/"></a></li>
					{% if user.is_authenticated %}
					<li id="menu_logout"><a href = "/logout"/></a></li>
					{% else %}
					<li id="menu_login"><a href = "/login/"></a></li>
					{% endif %}
					<li id="menu_forum"><a href = "/forum/"></a></li>
					<li id="menu_about"><a href = "/about/"></a></li>
				</ul>
			</div>
			<div class="clear"></div>

			<!-- body -->
			{% block content %} {% endblock %}
			<!-- footer -->
			<hr/>
			<div id="footer"> 
				<div id="footer_left">
					<p id="copyright" class="footer_contents">Copyright &copy; <span class="blacktext">SPARCS 2012</span> All Rights Reserved </p>
					<p id="homepage" class="footer_contents"><span class="blacktext">TRIHACK </span>Homepage</p>
				</div>
				<div id="footer_right">
					<p id="organizer" class="footer_contents">Organizers <span class="blacktext">ASES STARTWAVE SPARCS</span> </p><br />
					<p id="sponsor" class="footer_contents">Designed by <span class="blacktext">Sunguard</span></p>
				</div>
			</div>
		</div>
		</div>
    </body>
</html>
