{% extends "base.html" %}
{% block style %} 
<link rel="stylesheet" href="{{MEDIA_URL}}css/forum.css" />
<link rel="stylesheet" href="{{MEDIA_URL}}css/forum_write.css" />
{% endblock %}
{% block content %}
<script type="text/javascript">
	function writeCheck() {
		var form = document.writeform;

		if(!form.title.value)
		{
			alert("제목을 적으세요");
			form.name.focus();
			return;
		}
		if(!form.contents.value)
		{
			alert("내용을 적으세요");
			form.contents.focus();
			return;
		}
		form.submit();
	}
</script>

<div id="forum_write">
	<div id="title" style="text-align:center">
		<a href="/"><img src="{{MEDIA_URL}}image/logo.png" alt="main logo"/></a><br/>
		<img src="{{MEDIA_URL}}image/forum_title.png" alt="forum title"/><br/>
	</div>

	<div id="buttons">
		<input type="image" src="{{MEDIA_URL}}image/button_back.png" alt="back" onclick="history.back()"/>
	</div>

	<div id="write_form">
		<form id="writeform" method="post" action="/forum/write/">
			<div id="write_form_category_box" class="forum_black_box">
			</div>
			<div id="write_form_category">
				CATEGORY 
				<select name="category">
					{% if category == 'notice' %}
						<option value="notice" selected="selected">Notice</option>
					{% else %}
						<option value="notice">Notice</option>
					{% endif %}
			
					{% if category == 'freeboard' %}
						<option value="freeboard" selected="selected">Free Board</option>
					{% else %}
						<option value="freeboard">Free Board</option>
					{% endif %}
				</select>
			</div>

			<div id="write_form_title">
				TITLE 
				<input type="text" name="title" size="50" maxlength="50" autofocus="autofocus" value="{{ postData.title }}" /><br/>
			</div>
			<div class="clear"></div>
			<hr />
			<div id="write_form_contents">
				<textarea  name="contents" cols="50" rows="10">{{ postData.text }}</textarea><br/>
			</div>
			<hr class="broken_hr" />
			<div id="write_form_writebutton" class="right">
				<input type="image" src="{{MEDIA_URL}}image/button_write.png" onclick="javascript:writeCheck();" />
			</div>
			<div id="write_form_hidden" style="display:none">
				{% if postData %}
				<input type="hidden" name="modify" value="1" />
				{% endif %}
				<input type="hidden" name="id" value="{{ postData.id }}" />
			</div>
			<div class="clear"></div>
		</form>
	</div>
</div>

{% endblock %}
