{% extends "base.html" %}
{% load poll_extras %}
{% block style %} 
<link href="/media/css/forum_list.css" rel="stylesheet" />
{% endblock %}
{% block content %}

<div id="title" style="text-align:center">
    <a href = "/"><img src="{{MEDIA_URL}}image/logo.png" alt="main logo"/></a><br/>
    <img src="{{MEDIA_URL}}image/forum_title.png" alt="forum title"/><br/>
</div>

<div id="forum">
    <a href = "/forum?category={{ category }}&criteria=hot"><img src = "{{MEDIA_URL}}image/forum_hot_box.png" alt="forum hot"/></a>
    <a href = "/forum?category={{ category }}&cirteria=new"><img src = "{{MEDIA_URL}}image/forum_new_blackbox.png" alt="forum new"/><br/></a>
	<div id="forum_contents">
		<div id = "forum_list">
		{% if articlelist %}
			{% for row,shorttext in articlelist %}
				<div class="forum_list_article">
					<div class="forum_list_article_top">
						{{ row.user }} <span class="graytext">({{ row.modified_on|date:"Y-m-d H: i" }})</span>
					</div>
					<div class="forum_list_article_mid">
						<a href="/forum/read?id={{ row.id }}&category={{ category }}" title="{{ row.title }}">					
							<div class="forum_list_article_mid_title">
								{{ row.title }}
							</div>
							<div class="forum_list_article_mid_preview">
								<p>{{shorttext}}</p>
							</div>
						</a>
					</div>
					<br>
					<div class="forum_list_article_bottom">
						<span class="graytext">UP DOWN  </span>{{ row.like|subtract:row.hate }} &nbsp&nbsp  
						<span class="graytext">COMMENTS  </span>{{ row.commentnumber }}
					</div>	
				</div>
				{% if not forloop.last %}
					<br>
					<hr>
				{% endif %}	
			{% endfor %}
		{% else %}
			<p>No Data.</p>
		{% endif %}
		</div>
	</div>
	<div id="forum_pagination">
		<span class="step-links">
			{% if contacts.has_previous %}
				<a href="/forum?page={{ contacts.previous_page_number }}&category={{ category }}">Previous</a>
			{% endif %}

			<span class="current">
				{{ contacts }}
			</span>

			{% if contacts.has_next %}
				<a href="/forum?page={{ contacts.next_page_number }}&category={{ category }}">next</a>
			{% endif %}
		</span>
	</div>

	<div id="forum_bottom_write">
		<a href="/forum/write/?category={{ category }}">
			<img src="/media/image/forum_write.png">
		</a>
	</div>

	<div id="clear" style="height:10px"></div>
</div>

{% endblock %}

