{% extends "base.html" %}
{% block style %} 
<link rel="stylesheet" href="{{MEDIA_URL}}css/forum_write.css" />
{% endblock %}
{% block content %}
<script language="javascript">
	function writeCheck() {
		var form = document.writeform;

		if(!form.title.value)
		{
			alert("제목을 적으세요");
			form.name.focus();
			return;
		}
		if(!form.contents.value)
		{
			alert("내용을 적으세요");
			form.contents.focus();
			return;
		}
		form.submit();
	}
</script>

<div id="forum_write">
	<div id = "title" style = "text-align:center">
		<a href = "/"><img src="{{MEDIA_URL}}image/logo.png" alt="main logo"/></a><br/>
		<img src="{{MEDIA_URL}}image/forum_title.png" alt="forum title"/><br/>
	</div>

	<div id="buttons">
		<input type=image src="{{MEDIA_URL}}image/button_back.png" alt="back" onClick="history.back()"/>
	</div>

	<div id = "write_form">
		<form name=writeform method=post action="/forum/write/">
			<div id="write_form_category_box">
			</div>
			<div id="write_form_category">
				CATEGORY 
				<select name=category>
					{% if category == 'notice' %}
						<option value="notice" selected=True>Notice</option>
					{% else %}
						<option value="notice">Notice</option>
					{% endif %}
			
					{% if category == 'freeboard' %}
						<option value="freeboard" selected=True>Free Board</option>
					{% else %}
						<option value="freeboard">Free Board</option>
					{% endif %}
				</select>
			</div>

			<div id="write_form_title">
				TITLE 
				<input type=text name=title size=50 maxlength=50 autofocus="autofocus" value="{{ postData.title }}"><br/>
			</div>
			<div style="clear:both;"></div>
			<hr id="solidhr">
			<div id="write_form_contents">
				<textarea  name=contents cols=50 rows=10>{{ postData.text }}</textarea><br/>
			</div>
			<br/>

			<hr id="borkenhr">
			<div id="write_form_writebutton">

				<input type=image src="{{MEDIA_URL}}image/button_write.png" OnClick="javascript:writeCheck();">
			</div>
			<div id="write_form_hidden" style="display:none">
				{% if postData %}
				<input type="hidden" name="modify" value="1" />
				{% endif %}
				<input type="hidden" name="id" value="{{ postData.id }}" />
			</div>
			<div style="clear:both;"></div>
		</form>
	</div>
</div>

{% endblock %}
