{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="{{MEDIA_URL}}css/main.css" media="screen" />

<script type = "text/javascript" src="{{MEDIA_URL}}js/index.js"></script>
<script language = "javascript">
	$(document).ready(function() {
		$("#main_logo").fadeIn("slow");
		$("#main_content").fadeIn("slow");	
	});
</script>
{% endblock %}

{% block content %}
<div id="content">
	<div id="content_top">
		<img src = "{{MEDIA_URL}}image/main_logo.png" id = "main_logo" /><br />
		<img src = "{{MEDIA_URL}}image/main_content.png" id = "main_content" />
	</div>

	<div id="content_bottom">
		<a href = "/trihack/"><div id="content_bottom_title">
			<img src = "{{MEDIA_URL}}image/bluearrow.png" id="bluearrow" />
			<img src = "{{MEDIA_URL}}image/whatisthetrihack.png" id="whatthehack" />
		</div></a>
		<div id = "clear"></div>

		<img src = "{{MEDIA_URL}}image/change.png" class="slogan" /><br />
		<img src = "{{MEDIA_URL}}image/influence.png" class="slogan" /><br />
		<img src = "{{MEDIA_URL}}image/build.png" class="slogan" />
	</div>
</div>
{% endblock %}
