{% extends "base.html" %}
{% block content %}
<section id="main">

<div id="title" style="text-align:center">
    <img src="{{MEDIA_URL}}image/register.png" alt="register title"/>
</div>

<div id="contents">
{% block style %}<link href='/media/css/register.css' type='text/css' rel='stylesheet'>{% endblock %}

<div class="ss-form-container">
	<div class="ss-form-heading">
		<div class="ss-required-asterisk">* Required</div>
	</div>
	<div class="ss-form">
	<form action="." method="POST" id="ss-form">{% csrf_token %}
	<br>
	<div class="errorbox-good">
		<div class="ss-item ss-item-required ss-text">
			<div class="ss-form-entry">
				<label class="ss-q-title" for="entry_0">{{ nameT }}<span class="ss-required-asterisk">{{ nameE }}*</span></label>
				<label class="ss-q-help" for="entry_0"></label>
				<input type="text" name="entry.0.single" value="{{ name }}" class="ss-q-short" id="entry_0">
			</div>
		</div>
	</div>
	<br> 
	<div class="errorbox-good">
		<div class="ss-item ss-item-required ss-text">
			<div class="ss-form-entry">
				<label class="ss-q-title" for="entry_3">{{ teamT }}<span class="ss-required-asterisk">{{ teamE }}*</span></label>
				<label class="ss-q-help" for="entry_3"></label>
				<input type="text" name="entry.3.single" value="{{ team }}" class="ss-q-short" id="entry_3">
			</div>
		</div>
	</div>
	<br> 
	<div class="errorbox-good">
		<div class="ss-item ss-item-required ss-text">
			<div class="ss-form-entry">
				<label class="ss-q-title" for="entry_1">{{ emailT }}<span class="ss-required-asterisk">{{ emailE }}*</span></label>
				<label class="ss-q-help" for="entry_1"></label>
				<input type="text" name="entry.1.single" value="{{ email }}" class="ss-q-short" id="entry_1">
			</div>
		</div>
	</div>
	<br> 
	<div class="errorbox-good">
		<div class="ss-item ss-item-required ss-radio">
			<div class="ss-form-entry">
				<label class="ss-q-title" for="entry_2">{{ locationT }}<span class="ss-required-asterisk">{{ locationE }}*</span></label>
				<label class="ss-q-help" for="entry_2"></label>
				<ul class="ss-choices">
					<li class="ss-choice-item">
					<label class="ss-choice-label">
						<input type="radio" name="entry.2.group" value="Korea" {% if  location == "Korea" %} checked="checked" {% endif %}class="ss-q-radio" id="group_2_1">
						Korea
					</label>
					</li> 
					<li class="ss-choice-item">
					<label class="ss-choice-label">
						<input type="radio" name="entry.2.group" value="Japan" {% if location == "Japan" %} checked="checked" {% endif %}class="ss-q-radio" id="group_2_2">
						Japan
					</label>
					</li> 
					<li class="ss-choice-item">
					<label class="ss-choice-label">
						<input type="radio" name="entry.2.group" value="China" {% if location == "China" %} checked="checked" {% endif %}class="ss-q-radio" id="group_2_3">
						China
					</label>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<br>
	<input type="hidden" name="pageNumber" value="0">
	<input type="hidden" name="backupCache" value="">


	<div class="ss-item ss-navigate">
		<div class="ss-form-entry">
			<input type="submit" name="submit" value="Submit">
		</div>
	</div>
</form>
<script type="text/javascript">
      
      (function() {
var divs = document.getElementById('ss-form').
getElementsByTagName('div');
var numDivs = divs.length;
for (var j = 0; j < numDivs; j++) {
if (divs[j].className == 'errorbox-bad') {
divs[j].lastChild.firstChild.lastChild.focus();
return;
}
}
for (var i = 0; i < numDivs; i++) {
var div = divs[i];
if (div.className == 'ss-form-entry' &&
div.firstChild &&
div.firstChild.className == 'ss-q-title') {
div.lastChild.focus();
return;
}
}
})();
      </script></div>

</section>

{% endblock %}
