{% extends "base.html" %}

{% block style %}<link href='/media/css/register.css' type='text/css' rel='stylesheet'>{% endblock %}
{% block content %}


<div id="title" style="text-align:center">
	<img src="{{MEDIA_URL}}image/main_logo.png" alt="register title"/><br>
	<p id="title_text">REGISTER</p>
</div>

<div id="contents">
	<form id="register_form" method="POST" action=".">{% csrf_token %}
		<div id="Teaminfo">
			<div id="Teaminfo_title" class="register_titles">
				<p>Team Info</p>
			</div>
			<table>
				<tr>
					<td><label for="name" class="register_labels">name</label><input type="text" name="name" class="register_inputs"/></td>
				</tr>
				<tr>
					<td><label for="email" class="register_labels">e-mail</label><input type="text" name="email" class="register_inputs"/></td>
					<td><label for="contact" class="register_labels">contact</label><input type="text" name="contact" class="register_inputs"/></td>
				</tr>
				<tr>
					<td>expertise <span id="graytext">(check the expert areas of your team)</span></td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" name="Web">Web
						<input type="checkbox" name="iOS">iOS
						<input type="checkbox" name="Android">Android
						<input type="checkbox" name="UI/UX Design">UI/UX Desgin
						<input type="checkbox" name="Front-end">Front-end
					</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" name="Back-end">Back-end
						<input type="checkbox" name="Systems">Systems
						<input type="checkbox" name="Security">Security
						<input type="checkbox" name="Database">Database
					</td>
				</tr>
			</table>
		</div>
		</br>
		<div id="Membersinfo">
			<div id="Membersinfo_title" class="register_titles">
				<p>Member(s) Info</p>	
			</div>
			<table>
				<tr>
					<td><label class="Membersinfo_counts">01</label></td>
					<td><label class="Membersinfo_counts">02</label></td>
					<td><label class="Membersinfo_counts">03</label></td>
				</tr>
				<tr>
					<td><label for="members_name1" class="register_labels">name</label><input type="text" name="members_name1" class="register_inputs"/></td>
					<td><label for="members_name2" class="register_labels">name</label><input type="text" name="members_name2" class="register_inputs"/></td>
					<td><label for="members_name3" class="register_labels">name</label><input type="text" name="members_name3" class="register_inputs"/></td>
				</tr>
				<tr>
					<td><label for="members_unitersity1" class="register_labels">university</label><input type="text" name="members_unitersity1" class="register_inputs"/></td>
					<td><label for="members_unitersity1" class="register_labels">university</label><input type="text" name="members_unitersity1" class="register_inputs"/></td>
					<td><label for="members_unitersity1" class="register_labels">university</label><input type="text" name="members_unitersity1" class="register_inputs"/></td>
				</tr>
			</table>
		</div>
		</br>
		<div id="Countryinfo">
			<div id="Countryinfo" class="register_titles">
				<p>Country Info</p>
			</div>
			<div id="Countryinfo_selection">
				<input type="radio" name="country" value="KOREA">KOREA
				<input type="radio" name="country" value="JAPAN">JAPAN
				<input type="radio" name="country" value="CHINA">CHINA
		</div>
		<input type="submit" value="SUBMIT" />
	</form>
</div>
{% endblock %}
