{% extends "base.html" %}

{% block style %}
<link rel = "stylesheet" href = "{{MEDIA_URL}}css/what.css" screen="media" />
{% endblock %}

{% block content %}
<div id = "content"> 
	<div id = "content_top">
		<a href = "/"><div id = "content_top_title">
			<img src = "{{MEDIA_URL}}image/what_backtomain.png" />
		</div></a>
		<div id = "content_top_content">
			<img src = "{{MEDIA_URL}}image/what_change.png" /><br/>
			<img src = "{{MEDIA_URL}}image/what_influence.png" /><br/>
			<img src = "{{MEDIA_URL}}image/what_build.png" />
		</div>
	</div>
	<div id = "content_bottom">
		<img src = "{{MEDIA_URL}}image/what_main.png" id = "content_bottom_main"/><br/>
		<img src = "{{MEDIA_URL}}image/what_everything.png" /><br/>
		<img src = "{{MEDIA_URL}}image/what_you.png" /><br/>
		<img src = "{{MEDIA_URL}}image/what_once.png" /><br/>
		<a href = "/register/"><img src = "{{MEDIA_URL}}image/what_register.png" id = "content_bottom_register"/></a>
	</div>
	<div id = "clear"></div>
</div>
{% endblock %}
