{% extends "base.html" %}

{% block style %}
<link rel = "stylesheet" href = "{{MEDIA_URL}}css/what.css" media="screen" />

<script type="text/javascript" src="{{MEDIA_URL}}js/what.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		MainLink.initialize();
	});
</script>
{% endblock %}

{% block content %}
<div id = "content"> 
	<div id = "content_top">
		<a href = "/"><object id = "content_top_title">
			<img src = "{{MEDIA_URL}}image/what_backtomain.png" id="backtomain" alt="backtomain" />
		</object></a>
		<div id = "content_top_content">
			<img src = "{{MEDIA_URL}}image/what_change.png" alt="change" /><br/>
			<img src = "{{MEDIA_URL}}image/what_influence.png" alt="influence" /><br/>
			<img src = "{{MEDIA_URL}}image/what_build.png" alt="build" />
		</div>
	</div>
	<div id = "content_bottom">
		<img src = "{{MEDIA_URL}}image/what_main.png" id = "content_bottom_main" alt="main_photo" /><br/>
		<img src = "{{MEDIA_URL}}image/what_everything.png" alt="everything" /><br/>
		<img src = "{{MEDIA_URL}}image/what_you.png" alt="you" /><br/>
		<img src = "{{MEDIA_URL}}image/what_once.png" alt="once" /><br/>
		<a href = "/register/"><img src = "{{MEDIA_URL}}image/what_register.png" id = "content_bottom_register" alt="register" /></a>
	</div>
	<div class = "clear"></div>
</div>
{% endblock %}
