p {
    margin-bottom: 1px;
}
#title {
    text-align: center;
}
#title_lang {
    margin-top: 12px;
}
#title_lang img {
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 47px;
}

#content_2{
    height:210px;
}

#content_3{
    height:270px;
}
.content_title {
    display: inline;
    padding-left: 32px;
    padding-right: 17px;
    margin-right: 10px;
    background-color: #404040;
    color: #FFFFFF;
}

.content_content {
    margin-top: 14px;
    margin-left: 32px;
    margin-bottom: 46px;
}

.content_help {
    display: inline;
    color: #9A9A9A;
}

.content_body {
    display: inline;
    margin-left: 10px;
}

.content_help {
    float: left;
}

.content_body {
    float: left;
}

#content_winner_title
{
    float:left;
}
#content_winner_help
{
    float:left;
}

.content_nayong {
    height: 21px;
    margin-bottom: 3px;
}
.content_jangso {
    height: 21px;
    margin-bottom: 3px;
}

.content_bigo p[class=content_help] {
    margin-top: -6px;
}

.content_job {
    margin-bottom: 6px;
}
