#title {
    text-align: center;
}
#title_lang {
    margin-top: 12px;
}
#title_lang img {
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 47px;
}

.content_title {
    display: inline;
    padding-left: 32px;
    padding-right: 17px;
    background-color: #404040;
    color: #FFFFFF;
}

.content_content {
    margin-top: 14px;
    margin-left: 32px;
    margin-bottom: 46px;
}

.content_help {
    display: inline;
    color: #9A9A9A;
}

.content_body {
    display: inline;
}

div .content_help {
    float: left;
}

div .content_body {
    float: left;
}
