#forum
{
    margin-left:32px;
}
#forum hr{
    display:block;
    height:10px;
    border:none;
    background:url(/media/image/hr.png);
}
#forum_contents
{
    margin-top:20px;
    margin-right:32px;
}

.forum_list_article
{
    font-family:"Century Gothic";
    margin-bottom:10px;
    margin-top:10px;
}
.forum_list_article_top
{
    color:#979797;
    font-size:15px;
}

.forum_list_article_top span
{
    font-size:10px;
}

.forum_list_article_mid_title
{
    color:#000000;
    font-size:20px;
}
.forum_list_article_mid a 
{
    text-decoration:none;
    
}
.forum_list_article_mid_preview p
{
    word-wrap:break-word;
    color:#858585;
    font-size:15px;
}
.forum_list_article_bottom
{
    float:right;
    font-size:13px;
}
#forum_bottom_write
{
    float:right;
}
.graytext
{
    color:#c3c3c3;
}
#clear
{
    clear:both;
}
.step-links a { color:#666; text-decoration: none; }
.step-links a:hover { color:#333; text-decoration: underline; }
.step-links a:visited { color:#666; text-decoration: none; }
.step-links span.page
{
    font-family:"Century Gothic";
    border:1px solid black;
    width:1.5em;
    padding:3px 0;
    display:inline-block;
    text-align:center;
}
.step-links span.current_page {
    color:#fff;
    background-color:#000;
}
