.forum_hr{
    display:block;
    height:10px;
    border:none;
    background:url(/media/image/hr.png);
}
#forum_content
{
    margin-left:32px;
    margin-right:32px;
}
#forum_post
{
    font-family:"Century Gothic";
}
#forum_post_title
{
    display:block;
    font-size:20px;
    color:#404040;
}
#forum_post_title_box
{
    float:left;
    background-color:#404040;
    margin-left:-50px;
    height:20px;
    width:40px;
}
#forum_post_info
{
    font-size:13px;
    color:#383838;
    margin-bottom:30px;
}
#forum_post_content
{
    color:#494949;
    font-size:15px;
    margin-bottom:40px;
}
#forum_post_content p
{
    word-wrap:break-word;
}
#forum_post_content_box
{
    float:left;
    background-color:#404040;
    margin-left:-50px;
    height:15px;
    width:40px;
}
#forum_post_buttons
{
    font-size:13px;
    margin-bottom:20px;
}
#forum_post_buttons input
{
    margin:0px;
    padding:0px;
    font-size:13px;
    border:0px;
    background:transparent;
    cursor:Pointer;
}

.graytext{
    text-decoration:underline;
    color:#4a4a4a;
}

.rightbutton{
    float:right;
    margin-left:20px;
}
.clear{
    clear:both;
}

#forum_comments{
    font-family:"Century Gothic";
    margin: 20px 0 100px 0;
}
#forum_comments_head{
    font-size:20px;
    color:#404040;
}
#write_comment textarea{
    width:965px;
    min-height:100px;
    height:auto;
    border:1px solid;
    border-color:#404040;
}
#write_form_writebutton{
    float:right;
}
.forum_comment{
    margin: 20px 0;
}
.forum_comment_info{
    color:#383838;
    font-size:13px;
}
.forum_comment_content{
    color:#494949;
    font-size:15px;
    margin-top:5px;
}
