#content_top {
    display: table-cell;
    width: 1024px;
    height: 555px;
}
#content_bottom {
    display: block;
    width: 1024px;
    height: 240px;
}
#main_logo {
    width: 231px;
    height: 253px;
    margin-left: 396px;
    margin-top: 129px;
    margin-bottom: 18px;
    background-color: #FFFFFF;
}
#main_content {
    width: 509px;
    height: 15px;
    margin-left: 258px;
    background-color: #FFFFFF;
}
#content_bottom {
    margin: 0;
}
#content_bottom .slogan {
    margin-left: 56px;
    background-color: #FFFFFF
}
#content_bottom_title {
    height: 56px;
}
#bluearrow {
    float: left;
    background-color: #FFFFFF;
}
#whatthehack {
    float: left;
    background-color: #FFFFFF;
}

