body {
    background-color: #FBFBFB;
}
#main {
    width: 1098px;
    height: auto;
    margin: 0 auto;
}
#main_wrapper {
    width: 1034px;
    height: auto;
    margin: 0 auto;
}
#content {
    background: url(/media/image/background.png) no-repeat;
    margin: 0 auto;
    width: 1034px;
    height: auto;
}
