body {
    background-color: #FBFBFB;
}

hr,p{
    margin:0px;
}

img {
    border: none;
}
#clear {
    height: 10px;
    clear: both;
} 

#main {
    width: 1088px;
    height: auto;
    margin: 0 auto;
    background-color: #FFFFFF;
    border-left: 5px solid #F8F8F8;
    border-right: 5px solid #F8F8F8;
}
#main_wrapper {
    width: 1034px;
    height: auto;
    margin: 0 auto;
}

/* navigation */
#header {
    margin-top: 30px;
    height:25px;

}
#main_nav {
    display: inline;
    list-style: none;
    list-style-image: none;
}
#main_nav li {
    display: block;
}
#main_nav a {
    display: block;
    float: left;
}
#menu_register a {
    float: left;
    width: 74px;
    height: 23px;
    margin-left: 29px;
    background: url(/media/image/register.png) no-repeat top left;
}
#menu_about a {
    float: right;
    width: 53px;
    height: 23px;
    background: url(/media/image/about.png) no-repeat top left;
}
#menu_forum a {
    float: right;
    width: 56px;
    height: 23px;
    margin-left: 16px;
    margin-right: 32px;
    background: url(/media/image/forum.png) no-repeat top left;
}

/* navigation end */
#content {
    background: url(/media/image/background.png) no-repeat;
    margin: 0 auto;
    width: 1034px;
    height: auto;
}

#footer {
    font-size: 13px;
    letter-spacing:2px;
    font-family : "Century Gothic";
    color:#B6B6B6;
    margin:0px;
    height:72px;
    margin-top:21px;
}
.footer_contents {
    margin: 0px;
    margin-top:11px;
    margin-left:32px;
    margin-right:32px;
}
#footer_left {
    float:left;
}

#footer_right{
    float:right;
}
#sponsor {
    float:right;
}

.blacktext{
    color:#000000;
}
