#content_top {
    margin-top: 24px;
    margin-bottom: 42px;
}

#content_top_content {
    margin-left: 56px;
}

#content_bottom {
    margin-left: 190px;
}

#content_bottom img {
    margin-bottom: 50px;
}

#content_bottom_main {
    width: 561px;
    height: 385px;
    margin-left: 14px; 
}

#content_bottom_register {
    float: right;
    margin-right: 32px;
}

