<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <link href="{{MEDIA_URL}}css/style.css" rel="stylesheet" />
        <title> Welcome to Trihack -! </title>
    </head>

    <body>
        <!-- header -->
        <div id="content" style="min-height: 720px">
        <div id="left-column">
            <header id="main-header">
                <a href = "/"> <img src="{{MEDIA_URL}}image/logo.png" alt="trihack main logo" id="logo"/> </a>
                <div id="main_nav">
                    <nav id="main_menu"> 
                        <ul id="menu_page">
                            <a href = "/login/"> <li id="menu_login"> <img src="{{MEDIA_URL}}image/login.png" alt="login button"/> </li> </a> 
                            <a href = "/register/"> <li id="menu_register">   <img src="{{MEDIA_URL}}image/register_2.png" alt="reigster button"/> </li> </a>
                            <a href = "/forum/"> <li id="menu_forum"> <img src="{{MEDIA_URL}}image/forum.png" alt="forum button"/> </li> </a>
                        </ul>
                    </nav> 
                </div>
            </header>
        </div>


        {% block content %} {% endblock %}

        </div>

        <!-- footer -->
        <footer>
            
        </footer>


    </body>
</html>
